### Offentlik kod

https://offentligkod.se/api/

In [5]:
import pandas as pd
import requests

# API URL
url = "https://offentligkod.se/api/"

# Fetch data from the API
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    data = response.json()  # Parse JSON data
else:
    print(f"Failed to fetch data. Status code: {response.status_code}")
    exit()

# Extract users from the "katalog"
unique_users = []
for item in data.get("katalog", []):
    for user in item.get("user", []):
        unique_users.append({"Name": user["name"], "ID": user["id"]})

# Convert to a Pandas DataFrame
df = pd.DataFrame(unique_users).drop_duplicates()

# Export to CSV
csv_file = "unique_users.csv"
df.to_csv(csv_file, index=False, encoding="utf-8")

print(f"Unique users have been exported to {csv_file}")

Unique users have been exported to unique_users.csv

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95 entries, 0 to 266
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    95 non-null     object
 1   ID      95 non-null     object
dtypes: object(2)
memory usage: 2.2+ KB

In [7]:
df

                                                  Name                   ID
0                               Open Knowledge Sverige  openknowledgesweden
1                                      Alingsås kommun           alingsas_k
2                               Region Västra Götaland                vgr_r
3                          Havs- och Vattenmyndigheten         havochvatten
4    Sveriges meteorologiska och hydrologiska institut                 smhi
..                                                 ...                  ...
247                             Stockholms universitet                su_uh
257                                         Västtrafik              vtrafik
259                        Centrala studiestödsnämnden                  csn
262                                        Kronofogden          kronofogden
266                                     Tillväxtverket       tillvaxtverket

[95 rows x 2 columns]